@font-face {
  font-family: iran;
  src: url(./font/iran.ttf);
}


body {
  display: flex;
  background-color: #f1f5f9;
  justify-content: center;
}



#main {
  box-shadow: 5px 5px 10px #1a19488e;
  /* border-radius: 1.5rem; */
  display: flex;
  background-color: white;
  width: 40rem;
  padding: 2rem;
  margin-top: 10rem;
}




#pic {
  display: flex;
}

#headphone {
  height: 15rem;
}




#buy {
  display: flex;
  flex-direction: column;
}



#info {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  height: 15rem;
}



#free {
  display: inline;
  background-color: black;
  color: white;
  font-size: 0.875rem;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  line-height: 1.25rem;
  border-radius: 50px;
}
#free:hover {
  background-color: #1b1b31;
}
#free::selection {
  background-color: #bdc3c7;
  color: black;
}




#name {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
#name:hover {
  color: #3e4749;
}
#name::selection {
  background-color: #bdc3c7;
  color: black;
}




#price {
  margin-top: auto;
}


#pself {
  text-decoration: line-through;
}
#pself::selection {
  background-color: #bdc3c7;
  color: black;
}


#pdis {
  font-size: 2.5rem;
  font-weight: bold;
}
#pdis:hover {
  color: red;
}
#pdis::selection {
  background-color: #bdc3c7;
  color: red;
}







/* ================================================== */




#offer {
  margin-bottom: 1rem;
  color: #bdb6c3;
  font-size: 0.7rem;
}
#offer::selection {
  background-color: #bdc3c7;
  color: black;
}




#add {
  box-shadow: 0px 5px 1px #1d4ed8;
  display: block;
  text-decoration: none;
  background-color: #3b82f6;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  padding: 0.7rem 0rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
#add:hover {
  background-color: #387ae4;
  box-shadow: 0px 5px 3px #1840b1;
  text-shadow: 1px 3px 20px silver;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    text-shadow 0.2s ease-in-out;
}
#add:focus {
  background-color: #1d51df;
  text-shadow: 1px 3px 20px silver;
  transition: background-color 0.1s ease-in-out, text-shadow 0.1s ease-in-out;
}




#stock {
  font-size: 2rem;
  color: #4ade80;
  vertical-align: bottom;
}
#light {
  display: flex;
  flex-direction: row;
}
span {
  font-size: 0.8rem;
  padding-top: 0.9rem;
  margin-left: -1.7rem;
}






#bottons {
  display: flex;
  flex-direction: row;
}



.dpic {
  justify-content: center;
  border: 4px solid #e3e5e8;
  border-radius: 0.5rem;
  padding: 0.4rem 0.5rem;
  flex: 1;
  display: flex;
  margin: 0.4rem;
}
.dpic:hover {
  background-color: #e3e5e8;
  color: black;
  border-color: #1b1b31;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-out,
    border-color 0.2s ease-out;
}




.bpic {
  display: inline;
  height: 2rem;
  vertical-align: middle;
  align-self: center;
}



.adto {
  margin-left: 0.3rem;
  align-self: center;
  text-decoration: none;
  color: #1a1948;
  font-size: 1rem;
}

